version: "3.8"
services:
  backend:
    build: .
    container_name: tcc-backend
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    tty: true
    stdin_open: true
    command: ["npm", "run", "dev"]
